<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMMWSaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMMWSaper.Properties.Settings>
            <setting name="GamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GamesWon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BombsCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardWidth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>8</value>
            </setting>
        </MMMWSaper.Properties.Settings>
    </userSettings>
</configuration>